.lobby-btn-cashier-HD
{
	color: #474747;
	font-size: 24px;
	font-weight: bold;
}

.lobby-btn-cashier-HD:disabled, .lobby-btn-cashier-HD[disabled] {
	color: #474747;
	font-size: 24px;
	font-weight: bold;
}

.lobby-btn-cashier
{
	color: #474747;
	font-size: 24px;
	font-weight: bold;
}

.lobby-btn-autoplay
{
	color: #474747;
	font-size: 24px;
	font-weight: bold;
}

.lobby-btn-autoplay-HD
{
	color: #474747;
	font-size: 24px;
	font-weight: bold;
}

.lobby-btn-autoplayNumber
{
	color: #474747;
	font-size: 24px;
	font-weight: bold;
}


.lobby-btn-autoplayNumber-HD
{
	color: #474747;
	font-size: 24px;
	font-weight: bold;
}


