<div id="menuContainer">
    <img src="menuLogo.png" alt="" class="centered">
    <h1>Game Adjustments</h1>
    <hr>
    <h2>Select Cards</h2>
    <!--<div style="width: 438px; height: 250px" class="centered">-->
    <!--<img src="carouselBack.png" alt="">-->
    <!--<div class="owl-carousel" style="left: 0px; top: -147px;">-->
    <!--<div class="item" style="width: 130px"><h4></h4></div>-->
    <!--<div class="item" style="width: 130px"><h4>6</h4></div>-->
    <!--<div class="item" style="width: 130px"><h4>12</h4></div>-->
    <!--<div class="item" style="width: 130px"><h4>18</h4></div>-->
    <!--<div class="item" style="width: 130px"><h4></h4></div>-->

    <!--</div>-->
    <!--</div>-->

    <br>
    <input type="range"  min="1" max="6" step="1">
    <br>
    <br>
    <span class="value">6</span>
    <br>
    <br>
    <hr>
    <h2>Card Cost</h2>
    <!--<div style="width: 438px; height: 250px" class="centered">-->
    <!--<img src="carouselBack.png" alt="">-->
    <!--<div class="owl-carousel" style="left: 0px; top: -147px;">-->
    <!--<div class="item" style="width: 130px"><h4></h4></div>-->
    <!--<div class="item" style="width: 130px"><h4>6</h4></div>-->
    <!--<div class="item" style="width: 130px"><h4>12</h4></div>-->
    <!--<div class="item" style="width: 130px"><h4>18</h4></div>-->
    <!--<div class="item" style="width: 130px"><h4></h4></div>-->

    <!--</div>-->
    <!--</div>-->

    <input type="range"  min="1" max="3" step="1">
    <br>
    <br>
    <span class="value">$10</span>

    <br>
    <br>
    <hr>
    <h1 class="red">WIN UP TO $1000</h1>

    <h2 class="bold">Total Cost</h2>
    <span class="value">$10</span>

</div>
