@font-face {
    font-family: "Arial";
    src: local("Arial"), url(arial.ttf);
}

@font-face {
    font-family: "Opal";
    src: local("Opal"), url(Opal.ttf);
}

@font-face {
    font-family: "Krona One";
    src: local("Krona One"), url(KronaOne-Regular.ttf);
}

@font-face {
    font-family: "Lucida Sans";
    src: local("Lucida Sans"), url(lucida_sans_unicode.ttf);
}

@font-face {
    font-family: "Neutra Text TF";
    src: local("Neutra Text TF"), url(NeutraTextTF-Book.ttf);
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: local("Roboto Condensed Light"), url(RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: "Roboto Condensed";
    src: local("Roboto Condensed"), url(RobotoCondensed-Regular.ttf);
}
