@font-face {
    font-family: Verdana;
    src: local("Verdana Bold"),
    url(verdanab.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Impact;
    src: local("Impact"),
    url(impact_F.ttf);
}

/*@font-face {*/
    /*font-family: "Franklin Gothic Book";*/
    /*src: local("Franklin Gothic Book"),*/
    /*url(FRABK.TTF);*/
/*}*/